@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

:host {
  display: block;
  padding: 16px 0;
  background-color: var(--accordion-background-color, $background-primary);
  border-bottom: 1px solid $background-secondary;
}

:host(:last-child) {
  border-bottom: none;
}

:host([expanded]) {
  .icon {
    transform: rotate(180deg);
  }

  .content {
    max-height: 100%;
    visibility: visible;
    margin-top: 8px;
    opacity: 1;
  }
}

button {
  @include headless-button;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;

  font-size: 100%;
  line-height: 1.15;

  cursor: pointer;
  text-align: left;
}

.icon {
  flex: 24px 0 0;
  transition: transform 0.2s;
  margin-left: 4px;
  line-height: 0;
}

.content {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;

  opacity: 0;
  color: var(--accordion-content-color, $text-secondary);
  transition:
    opacity 0.4s,
    visibility 0.1s;
}
