@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');


body {
  --bg-color: rgb(27, 27, 27);
  --yellow: rgb(247, 214, 83);

  background-color: var(--bg-color);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;

  font-size: 2rem;
  color: #fff;
}
