@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

:root {
  --yellow: rgb(247, 214, 83);

  font-family: 'JetBrains Mono', monospace;
  line-height: 1.4;
  font-weight: 400;
  font-size: 14px;

  color-scheme: dark;
  color: #cccccc;
  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}
